body {
    font-size: .5em;
}
html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}

.wikipedia-container {
    
}

.nytimes-container {
    
}

.history-container {
    height: 150px;
}