body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    /*font-size: 62.5%;*/
}
html, body, #map-canvas, #results {
    height: 100%;
}

#map-canvas {
	width: 80%;
	float: right;
}


#results {
	width: 20%;
	float: left;
}

.highlight {
	color: red;
}
