/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2015, 10:13:56 PM
    Author     : chris
*/

h1 {

  font-size: 40px;
  color: #00769d;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

#cat-img {
	width: 150px;
}

#catContent {
	width: 400px;
	float: left;
	border: crimson;
	border-style: solid;
	border-width: thin;
}

#catMenu {
	width: 300px;
	float: left;
	border: blue;
	border-style: solid;
	border-width: thin;
}

#catList {
}

.cat-entry {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding:10px;
    background-color: #cde;
}