
/*
gold:	#F8981C;
grey:	#BCBBBB;
green:	#747704;
*/

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
	width: 100px;
}

hr {
	border-width: 5px;
}

img {
        box-shadow: 0 0 5px 5px grey;
}

.border-gold {
	border: 7px solid #F8981C;
}

.color-grey {
	color: #BCBBBB;
}

.color-green {
	color: #747704;
}

.center-image {
	margin: 0 auto;
}