
/*
gold:	#F8981C;
grey:	#BCBBBB;
green:	#747704;
purple: #3F0477;
light-blue: #1CABF8;
*/

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
	background-image: url(../images/background2.jpg);
	background-attachment: fixed;
}

hr {
	border-width: 5px;
}

img {
	box-shadow: 0 0 5px 5px grey;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 5em;
}

.text-medium {
	font-size: 1.25em;
}

.text-normal {
	font-size: 1em;
}

.text-small {
	font-size: .8em;
}
.title-logo {
	margin-top: 30px;
	width: 100px;
	border: 7px solid #F8981C;
}

.center-image {
	margin: 0 auto;
}

.color-grey {
	color: #BCBBBB;
}

.color-green {
	color: #747704;
}

.color-black {
	color: black;
}

.color-purple {
	color: #3F0477;
}

.color-light-blue {
	color: #1CABF8;
}

.color-gold {
	color: #F8981C;
}